
<!doctype html>
<html>
  <head>
	<title>{{ (year, title)|join(" ") }}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='year.css') }}">
  </head>
  <body>
	<h1>{{ (year, title)|join(" ") }}</h1>

  <div class="month">
    <div class="week-day month-label"></div>
    {% for i in range(37) %}<div class="week-day">{{ weekdays[i%7] }}</div>
    {% endfor %}
  </div>

  {% for m in range(1,13) %}<div class="month">
    <div class="week-day month-label">{{ months[m] }}</div>
    {% for i in dates(year, m) %}<div class="week-day">{{ i }}</div>
    {% endfor %}
  </div>

  {% endfor %}

  </body>
</html>
